html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  font-family: Arial, system-ui, sans-serif
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  background: skyblue;
}
