.canvas {
    background: transparent;
    perspective: 1000px;
    --darkColor: #0002;
    --stripes: repeating-linear-gradient(-180deg, transparent 0, transparent 5px, var(--darkColor) 5px, var(--darkColor) 6px);
    --sparseStripes: repeating-linear-gradient(-180deg, transparent 0, transparent 9px, var(--darkColor) 9px, var(--darkColor) 10px);
    /*--stripes: repeating-linear-gradient(transparent 0, transparent 9px, var(--darkColor) 9px, var(--darkColor) 10px);*/
}

.house {
    /*transform: scale3d(1.5, 1.5, 1.5);*/
}

.slope1 {
    --frontBackground: #dafbff;
    --backBackground: #dafbff;
    --tiles: radial-gradient(circle at 50% 0, transparent 0%, transparent 55%, #0003 57%, #0003 68%, transparent 70%);
    --leftBackground: var(--tiles), var(--primary);
    --rightBackground: var(--sparseStripes) #e5e5e5;
    --bottomBackground: #cce8ec;
    --topBackground: #694225;
    transform-origin: 0 calc(var(--height) / -2) 0;
    --tiltAngle: 25deg;
}

.slope1 > * {
    background-size: 12px 7px;
}

.rafter {
    --width: calc(var(--w) + 1px);
    --height: 5px;
    --length: 15px;
    --primary: inherit;
    --shade: #0001;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --frontBackground: var(--primary);
    --backBackground: var(--shadeBg) var(--primary);
    --leftBackground: var(--shadeBg) var(--primary);
    --rightBackground: var(--shadeBg) var(--primary);
    --topBackground: var(--shadeBg) var(--primary);
    --bottomBackground: var(--shadeBg), var(--shadeBg), var(--primary);
    transform: translateY(-75px);
}

.roof2 .rafter {
    transform: translateY(-47px);
}

.roof3 .rafter {
    transform: translateY(-18px);
    --width: calc(var(--w) + 5px);
    --length: 7px;
    --height: 4px;
}

.roof4 .rafter {
    --width: calc(var(--w) + 5px);
    transform: translateY(-40px);
}

.roof1 {
    --w: 190px;
    --width: var(--w);
    --height: 150px;
    --length: 10px;
    --primary: #8d6444;
    transform: translateZ(10px);
}

.slopeVariant1 {
    transform: rotateZ(var(--tiltAngle));
}

.slopeVariant2 {
    transform: scaleX(-1) rotateZ(var(--tiltAngle));
}

.attic1 {
    --width: 140px;
    --height: 135px;
    --length: 90px;
    --frontBackground: #efc900;
    --backBackground: pink;
    transform: translateY(-5px);
}

.attic1Clip {
    --vClip: 62.5%;
    clip-path: polygon(50% 0%, 100% var(--vClip), 100% 100%, 0% 100%, 0% var(--vClip));
}

.roof2 {
    --w: 200px;
    --width: var(--w);
    --height: 90px;
    --length: 10px;
    --primary: #7a573c;
    transform: translateY(43px) translateX(-70px) rotateY(-90deg);
}

.roof2 .slope1 {
    /*--leftBackground: #9f6438;*/
    --tiltAngle: 45deg;
}

.roof3 {
    --w: 65px;
    --width: var(--w);
    --height: 35px;
    --length: 4px;
    --primary: #966843;
    transform: translate3d(-115px, 20px, 30px);
}

.roof3 .slope1 {
    /*--leftBackground: #794c2b;*/
    --tiltAngle: 45deg;
}

.attic2 {
    --primary: #f3d09a;
    --shade: #0001;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --frontBackground: var(--stripes), var(--primary);
    --leftBackground: var(--shadeBg), var(--stripes), var(--primary);
    --rightBackground: var(--shadeBg), var(--stripes), var(--primary);
    --bottomBackground: var(--shadeBg), var(--shadeBg), var(--primary);
    --width: 60px;
    --height: 40px;
    --length: 40px;
    transform: translateY(5px);
}

.attic2Front {
    --vClip: 50%;
    clip-path: polygon(50% 0%, 100% var(--vClip), 100% 100%, 0% 100%, 0% var(--vClip));
}

.attic2Side {
    --vClip: 50%;
    clip-path: polygon(100% var(--vClip), 100% 100%, 0% 100%, 0% var(--vClip));
}

.roof4 {
    --w: 100px;
    --width: var(--w);
    --height: 80px;
    --length: 8px;
    --primary: #7e5a3e;
    transform: translate3d(40px, -10px, -10px) rotateY(90deg);
}

.roof4 .slope1 {
    --tiltAngle: 30deg;
    /*--leftBackground: #9f6438;*/
}

.block1 {
    transform: translate3d(-60px, 70px, 0);
}

.block1Main {
    --width: 110px;
    --height: 140px;
    --length: 200px;
    --leftBackground: var(--stripes), #ffd89f;
    --frontBackground: var(--stripes), skyblue;
    --backBackground: var(--stripes), skyblue;
}

.block1MainLeft {
    --vClip: 40%;
    --vClip2: 55%;
    clip-path: polygon(50% 0, 100% var(--vClip), 100% var(--vClip2), 75% var(--vClip2), 75% 100%, 0% 100%, 0% var(--vClip));
}

.block1MainFront {
    --vClip: 40%;
    --vClip2: 55%;
    clip-path: polygon(100% var(--vClip), 100% var(--vClip2), 0% var(--vClip2), 0% var(--vClip));
}

.block1MainBack {
    --vClip: 40%;
    --vClip2: 100%;
    clip-path: polygon(100% var(--vClip), 100% var(--vClip2), 0% var(--vClip2), 0% var(--vClip));
}


.block2MainRight {
    --vClip: 50%;
    clip-path: polygon(50% 0, 100% var(--vClip), 100% 100%, 0% 100%, 0% var(--vClip));
    background: var(--tiles), var(--primary);
    background-size: inherit;
    background-position: 0 -2px;
}

.block2MainFront {
    --vClip: 50%;
    --vClip2: 100%;
    clip-path: polygon(100% var(--vClip), 100% var(--vClip2), 0% var(--vClip2), 0% var(--vClip));
    background-size: inherit;
    background-position: 3px -2px;
}

.block2MainBack {
    --vClip: 50%;
    --vClip2: 100%;
    clip-path: polygon(100% var(--vClip), 100% var(--vClip2), 0% var(--vClip2), 0% var(--vClip));
    background-position: 2px -2px;
    background-size: inherit;
}

.block2 {
    transform: translate3d(45px, 45px, -10px);
}

.block2Main {
    --width: 70px;
    --height: 120px;
    --length: 75px;
    --primary: pink;
    --shade: #0001;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --tiles: radial-gradient(circle at 50% 0, transparent 0%, transparent 60%, #0003 62%, #0003 68%, transparent 70%);
    --backBackground: var(--shadeBg), var(--tiles), var(--primary);
    --frontBackground: var(--shadeBg), var(--tiles), var(--primary);
    background-size: 12px 7px;
    transform: translateY(-35px);
}

.block2Lower {
    --width: 70px;
    --height: 80px;
    --length: 75px;
    --primary: pink;
    --shade: #0001;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --rightBackground: var(--stripes), var(--primary);
    --backBackground: var(--shadeBg), var(--stripes), var(--primary);
    --frontBackground: var(--shadeBg), var(--stripes), var(--primary);
    transform: translateY(60px);
    background-position: 0 3px;
}

.block2Mid {
    --width: 80px;
    --height: 10px;
    --length: 85px;
    --primary: #d3926b;
    --shade: #0001;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --topBackground: var(--primary);
    --rightBackground: var(--primary);
    --backBackground: var(--shadeBg), var(--primary);
    --frontBackground: var(--shadeBg), var(--primary);
    transform: translateY(25px);
    background-position: 0 3px;
}

.block2Lower > * {
    background-position: inherit;
}


.block3Main {
    --width: 170px;
    /*--width: 200px;*/
    --height: 210px;
    --length: 120px;
    --primary: #ffc5d0;
    --secondary: #ffdd00;
    --shade: rgba(0, 0, 0, 0.06);
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --rightBackground: var(--shadeBg), var(--stripes) var(--primary);
    --leftBackground: var(--shadeBg), var(--stripes), #855c29;
    --backBackground: var(--stripes), var(--primary);
    --frontBackground: var(--secondary);
}

.block3 {
    transform: translate3d(0, 35px, 5px);
}

.block3MainFront {
    --vClip: 60%;
    --vClip2: 70%;
    clip-path: polygon(50% 0, 100% var(--vClip), 100% var(--vClip2), 0% var(--vClip2), 0% var(--vClip));
    background: radial-gradient(circle at 50% 0, #ffee8e 0%, #ffee8e 60%, #968a46 65%, #ffee8e 70%);
    background-size: 12px 7px;

}

.block3MainBack {
    --vClip: 60%;
    background-position: 0 -2px;
    clip-path: polygon(50% 0, 100% var(--vClip), 100% 100%, 0% 100%, 0% var(--vClip));
}

.block3MainLeft {
    --vClip: 60%;
    --vClip2: 100%;
    --vClip3: 70%;
    --hClip: 80%;
    background-position: 0 -2px;
    clip-path: polygon(100% var(--vClip), 100% var(--vClip3), var(--hClip) var(--vClip3), var(--hClip) var(--vClip2), 0% var(--vClip2), 0% var(--vClip));
}

.block3MainRight {
    --vClip: 60%;
    --vClip2: 100%;
    --vClip3: 70%;
    --hClip: 20%;
    clip-path: polygon(var(--hClip) var(--vClip), var(--hClip) var(--vClip2), 100% var(--vClip2), 100% var(--vClip), 0 var(--vClip), 0 var(--vClip3), var(--hClip) var(--vClip3));
}

.hexagonCorner {
    transform: translate3d(0, 77.5px, 65px);
    --darkColor: #0003;
    --primary: var(--stripes) #beff60;
    --shade: rgba(0, 0, 0, 0.03);
    --shadeBg: linear-gradient(var(--shade), var(--shade));
}

.wall1Inner {
    --height: 55px;
    --background: var(--shadeBg), var(--primary);
}

.wall1, .wall2, .wall3 {
    --width: 49px;
    --w: var(--width);
}

.wall1 {
    transform: translate3d(0, 0, 15px);
}

.wall1 .wall1Inner {
    --background: var(--primary);
}

.wall2 {
    --width: 46px;
    transform: translate3d(42px, 0, 0) rotateY(40deg);
}

.wall3 {
    --width: 46px;
    transform: translate3d(-42px, 0, 0) rotateY(-40deg);
}

.block4 {
    --length: 130px;
    --width: 40px;
    --height: 10px;
    --primary: #d3926b;
    --shade: #0001;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --topBackground: var(--primary);
    --frontBackground: var(--shadeBg) var(--primary);
    --backBackground: var(--shadeBg), var(--shadeBg), var(--primary);
    --leftBackground: var(--shadeBg), var(--shadeBg), var(--primary);
    --rightBackground: var(--shadeBg), var(--shadeBg), var(--primary);
    --bottomBackground: var(--shadeBg), var(--shadeBg), var(--primary);
    transform: translate3d(0, 82px, 75px);
}

.wall1Base {
    --length: var(--w);
    --height: 15px;
    --width: 10px;
    --primary: #FEFDD2;
    --darkColor: #816543;
    --secondary: #9f7c52;
    --verticalBg: var(--primary) 0, var(--primary) 2.75px, transparent 2.75px, transparent 24.75px, var(--primary) 24.75px, var(--primary) 27.5px;
    --bg: repeating-linear-gradient(90deg, var(--verticalBg)), linear-gradient(var(--primary) 15%, transparent 15%, transparent 85%, var(--primary) 85%), var(--secondary);
    --shade: #0001;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --frontBackground: var(--shadeBg), var(--bg);
    transform: translate3d(0, 35px, -5px);
}

.window {
    --primary: white;
    --secondary: pink;
    --tertiary: #3d3d3d;
}

.windowFrame {
    --shade: #0002;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --topBackground: var(--shadeBg) var(--color);
    --frontBackground: var(--color);
    --backBackground: var(--shadeBg), var(--shadeBg), var(--color);
    --leftBackground: var(--shadeBg), var(--color);
    --rightBackground: var(--shadeBg), var(--color);
    --bottomBackground: var(--shadeBg), var(--color);
}

.windowFrameOuter {
    --windowWidth: 30px;
    --windowHeight: 35px;
    --windowThickness: 4px;
    --color: var(--primary);
}

.windowFrameInner {
    --windowWidth: 25px;
    --windowHeight: 30px;
    --windowThickness: 2px;
    --color: var(--secondary);
}

.windowFrameHorizontal {
    --length: calc(var(--windowWidth) + var(--windowThickness));
    --height: var(--windowThickness);
    --width: var(--windowThickness);
}

.windowFrameVertical {
    --height: calc(var(--windowHeight) + var(--windowThickness));
    --length: var(--windowThickness);
    --width: var(--windowThickness);
}

.windowFrame1 {
    transform: translateY(calc(var(--windowHeight) / -2));
}

.windowFrame3 {
    transform: translateY(calc(var(--windowHeight) / 2));
}

.windowFrame2 {
    transform: translateX(calc(var(--windowWidth) / -2));
}

.windowFrame4 {
    transform: translateX(calc(var(--windowWidth) / 2));
}

.windowPane {
    --height: var(--windowHeight);
    --width: var(--windowWidth);
    background: var(--tertiary);
}

.floor {
    background: var(--stripes), #9f7c52;
}

.foundation1 {
    --shade: #0001;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --frontBackground: var(--bg);
    --backBackground: var(--shadeBg), var(--bg2);
    --leftBackground: var(--shadeBg), var(--bg);
    --rightBackground: var(--shadeBg), var(--primary);
    --bottomBackground: var(--shadeBg), var(--shadeBg), var(--primary);
    --width: 110px;
    --height: 15px;
    --length: 200px;
    transform: translateY(77.5px);
}

.foundation2 {
    --shade: #0001;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --frontBackground: var(--bg);
    --backBackground: var(--shadeBg), var(--bg2);
    --rightBackground: var(--shadeBg), var(--bg);
    --bottomBackground: var(--shadeBg), var(--shadeBg), var(--primary);
    --width: 70px;
    --height: 15px;
    --length: 75px;
    transform: translateY(102.5px);
}

.foundation3 {
    --frontBackground: var(--bg);
    --backBackground: var(--shadeBg), var(--bg2);
    --leftBackground: var(--shadeBg), var(--bg2);
    --rightBackground: var(--shadeBg), var(--bg);
    --bottomBackground: var(--shadeBg), var(--shadeBg), var(--primary);
    --width: 135px;
    --height: 15px;
    --length: 120px;
    transform: translate3d(0, 112.5px, -17.5px);
}

.foundation {
    --primary: #FEFDD2;
    --darkColor: #816543;
    --secondary: #9f7c52;
    --verticalBg: var(--primary) 0, var(--primary) 2.75px, transparent 2.75px, transparent 24.75px, var(--primary) 24.75px, var(--primary) 27.5px;
    --bg: repeating-linear-gradient(90deg, var(--verticalBg)), linear-gradient(var(--primary) 15%, transparent 15%, transparent 85%, var(--primary) 85%), var(--secondary);
    --bg2: repeating-linear-gradient(-90deg, var(--verticalBg)), linear-gradient(var(--primary) 15%, transparent 15%, transparent 85%, var(--primary) 85%), var(--secondary);
    --shade: #0001;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
}

.frontArea {
    transform: translate3d(-40px, 38px, 41.25px);
}

.frontWallAndCeiling {
    --width: 27.5px;
    --height: 62.5px;
    --length: 120px;
    --backBackground: var(--stripes), #704e24;
    --shade: #0001;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --topBackground: var(--shadeBg), var(--stripes), skyblue;
}

.frontWall {
    background-position: 0 1px;
}

.block2Window {
    transform: translate3d(40px, -20px, 0) rotateY(90deg);
}

.block2WindowLower {
    transform: translate3d(40px, 60px, 0) rotateY(90deg);
}

.block2WindowRight {
    transform: translate3d(17.5px, 60px, -52.5px) rotateY(90deg);
}

.block2WindowLeft {
    transform: translate3d(17.5px, 55px, 50px) rotateY(90deg);
}

.block2WindowLeftOuter {
    --windowHeight: 20px;
    --windowWidth: 20px;
    --windowThickness: 3px;
}

.block2WindowLeftInner {
    --windowHeight: 15px;
    --windowWidth: 15px;
    --windowThickness: 2px;
}

.block2WindowRightOuter {
    --windowHeight: 30px;
    --windowWidth: 20px;
}

.block2WindowRightInner {
    --windowHeight: 25px;
    --windowWidth: 15px;
}

.block2WindowOuter {
    --windowHeight: 45px;
    --windowWidth: 30px;
}

.block2WindowInner {
    --windowHeight: 40px;
    --windowWidth: 25px;
}


.block3Window {
    transform: translate3d(0, -15px, 85px);
}

.block3WindowOuter {
    --windowWidth: 35px;
    --windowHeight: 55px;
}

.block3WindowInner {
    --windowWidth: 30px;
    --windowHeight: 50px;
}

.atticWindow {
    transform: translate3d(0, 8.5px, 30px);
}

.block3RearWindow {
    transform: translate3d(0, -35px, -85px) rotateY(180deg);
}

.block3RearWindowOuter {
    --windowWidth: 25px;
    --windowHeight: 40px;
}

.block3RearWindowInner {
    --windowWidth: 20px;
    --windowHeight: 35px;
}

.atticWindowOuter {
    --windowWidth: 17.5px;
    --windowHeight: 22.5px;
    --windowThickness: 2px;
}

.atticWindowInner {
    --windowWidth: 15px;
    --windowHeight: 20px;
    --windowThickness: 2px;
}

.frontWindow {
    transform: translate3d(-32.5px, -5px, -12.5px);
    --primary: #fff
}

.frontWindowOuter {
    --windowWidth: 30px;
    --windowHeight: 35px;
}

.frontDoor {
    --windowWidth: 30px;
}

.door {
    --primary: white;
    --secondary: #b28238;
    --tertiary: #3a3a3a;
    --doorWidth: 35px;
    --doorHeight: 55px;
    --doorThickness: 4px;
}

.doorFrame {
    --shade: rgba(0, 0, 0, 0.24);
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --topBackground: var(--shadeBg) var(--color);
    --frontBackground: var(--color);
    --backBackground: var(--color);
    --leftBackground: var(--shadeBg), var(--color);
    --rightBackground: var(--shadeBg), var(--color);
    --bottomBackground: var(--shadeBg), var(--color);
}

.doorFrameHorizontal {
    --length: calc(var(--doorWidth) + var(--doorThickness));
    --width: var(--doorThickness);
    --height: var(--doorThickness);
}

.doorFrameVertical {
    --height: calc(var(--doorHeight) + var(--doorThickness));
    --width: var(--doorThickness);
    --length: var(--doorThickness);
}

.doorFrame1 {
    transform: translateY(calc(var(--doorHeight) / -2));
}

.doorFrame2 {
    transform: translateX(calc(var(--doorWidth) / -2));
}

.doorFrame3 {
    transform: translateY(calc(var(--doorHeight) / 2));
}

.doorFrame4 {
    transform: translateX(calc(var(--doorWidth) / 2));
}

.doorFrameOuter {
    --color: var(--primary);
}

.doorSpace {
    --width: var(--doorWidth);
    --height: var(--doorHeight);
    --background: var(--tertiary);
}

.frontDoor {
    transform: translate3d(12.5px, 5px, -12.5px);
}

.doorBlock {
    --color: var(--secondary);
    --width: 1px;
    --height: calc(var(--doorHeight) - var(--doorThickness));
    --length: calc(var(--doorWidth) - var(--doorThickness) - 2px);
    transform-origin: calc(var(--length) / 2) 0 calc(var(--width) / 2);
    transform: rotateY(30deg)
}

.doorBlockMain {
    --shade: rgba(0, 0, 0, 0.13);
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --frontBackground: var(--shadeBg), var(--color);
    --backBackground: var(--shadeBg), var(--color);
}

.doorBlock .doorFrame {
    --doorThickness: calc(var(--width) + 4px);
    --doorWidth: calc(var(--length) - var(--doorThickness));
    --doorHeight: calc(var(--height) - var(--doorThickness));
}

.block1SideWindow {
    transform: translate3d(-101px, -15px, 0) rotateY(-90deg)
}

.block1SideWindow2 {
    transform: translate3d(-101px, 35px, -30px) rotateY(-90deg)
}

.block1RearWindow {
    transform: translate3d(-75px, 25px, -55px) rotateY(-180deg) rotateZ(90deg)
}

.block1SideWindow2Outer {
    --windowWidth: 23px;
    --windowHeight: 30px;
    --windowThickness: 3px;
}

.block1SideWindow2Inner {
    --windowWidth: 18px;
    --windowHeight: 26px;
    --windowThickness: 2px;
}

.backDoor {
    transform: translate3d(12.5px, 5px, -96.5px) rotateY(-180deg)
}

.pillar {
    --primary: #ffdab9;
    --shade: #0002;
    --width: 5px;
    --length: 5px;
    --height: 65px;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --frontBackground: var(--primary);
    --leftBackground: var(--shadeBg), var(--primary);
    --topBackground: var(--primary);
    --rightBackground: var(--shadeBg), var(--primary);
    --backBackground: var(--shadeBg), var(--shadeBg), var(--primary);
}


.rail {
    --primary: #ffdab9;
    --shade: #0002;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --frontBackground: var(--primary);
    --leftBackground: var(--shadeBg), var(--primary);
    --topBackground: var(--primary);
    --rightBackground: var(--shadeBg), var(--primary);
    --backBackground: var(--primary);
    --bottomBackground: var(--shadeBg), var(--shadeBg), var(--primary);
}

.railBar {
    --primary: #ffdab9;
    --shade: #0002;
    --width: 2px;
    --length: 2px;
    --height: 15px;
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --frontBackground: var(--primary);
    --leftBackground: var(--shadeBg), var(--primary);
    --topBackground: var(--primary);
    --rightBackground: var(--shadeBg), var(--primary);
    --backBackground: var(--primary);
    --bottomBackground: var(--shadeBg), var(--shadeBg), var(--primary);
}

.sideRail {
    --width: 25px;
    --length: 4px;
    --height: 2px;
}

.frontRail {
    --width: 4px;
    --length: 40px;
    --height: 2px;
}

.longBar {
    --height: 25px;
}

.pillar1 {
    --height: 75px;
    transform: translate3d(-57.5px, -5px, 11.5px);
}

.pillar3 {
    --height: 75px;
    transform: translate3d(-15px, -5px, 11.5px);
}

.pillar2 {
    transform: translate3d(-57.5px, 0, -12px);
}

.rail1 {
    transform: translate3d(-57.5px, -30px, 0);
}

.rail2 {
    transform: translate3d(-57.5px, -20px, 0);
}

.rail3 {
    transform: translate3d(-57.5px, 5px, 0);
}

.rail7 {
    transform: translate3d(-57.5px, 31px, 0);
}

.rail4 {
    transform: translate3d(-35px, 5px, 11.5px);
}

.rail5 {
    --length: 100px;
    transform: translate3d(-10px, -20px, 11.5px);
}

.rail6 {
    --length: 100px;
    transform: translate3d(-10px, -30px, 11.5px);
}

.rail8 {
    transform: translate3d(-35px, 31px, 11.5px);
}

.rail9 {
    transform: translate3d(-15px, 12px, 22.5px) rotateX(-35deg);
}


.bar1 {
    transform: translate3d(-57.5px, -27.5px, -6px);
}

.bar2 {
    transform: translate3d(-57.5px, -27.5px, -2px);
}

.bar3 {
    transform: translate3d(-57.5px, -27.5px, 2px);
}

.bar4 {
    transform: translate3d(-57.5px, -27.5px, 6px);
}

.bar5 {
    transform: translate3d(-30px, -27.5px, 11.5px);
}

.bar6 {
    transform: translate3d(-34px, -27.5px, 11.5px);
}

.bar7 {
    transform: translate3d(-38px, -27.5px, 11.5px);
}

.bar8 {
    transform: translate3d(-42px, -27.5px, 11.5px);
}

.bar9 {
    transform: translate3d(-46px, -27.5px, 11.5px);
}

.bar10 {
    transform: translate3d(-50px, -27.5px, 11.5px);
}

.bar11 {
    transform: translate3d(-54px, -27.5px, 11.5px);
}

.bar12 {
    transform: translate3d(-26px, -27.5px, 11.5px);
}

.bar13 {
    transform: translate3d(-22px, -27.5px, 11.5px);
}

.bar14 {
    transform: translate3d(-18px, -27.5px, 11.5px);
}

.bar15 {
    transform: translate3d(-10px, -27.5px, 11.5px);
}

.bar16 {
    transform: translate3d(-6px, -27.5px, 11.5px);
}

.bar17 {
    transform: translate3d(-2px, -27.5px, 11.5px);
}

.bar18 {
    transform: translate3d(2px, -27.5px, 11.5px);
}

.bar19 {
    transform: translate3d(6px, -27.5px, 11.5px);
}

.bar20 {
    transform: translate3d(10px, -27.5px, 11.5px);
}

.bar21 {
    transform: translate3d(14px, -27.5px, 11.5px);
}

.bar22 {
    transform: translate3d(18px, -27.5px, 11.5px);
}

.bar23 {
    transform: translate3d(22px, -27.5px, 11.5px);
}

.bar24 {
    transform: translate3d(26px, -27.5px, 11.5px);
}

.bar25 {
    transform: translate3d(30px, -27.5px, 11.5px);
}

.bar26 {
    transform: translate3d(34px, -27.5px, 11.5px);
}

.bar27 {
    transform: translate3d(38px, -27.5px, 11.5px);
}


.bar28 {
    transform: translate3d(-57.5px, 18px, -6px);
}

.bar29 {
    transform: translate3d(-57.5px, 18px, -2px);
}

.bar30 {
    transform: translate3d(-57.5px, 18px, 2px);
}

.bar31 {
    transform: translate3d(-57.5px, 18px, 6px);
}

.bar32 {
    transform: translate3d(-30px, 18px, 11.5px);
}

.bar33 {
    transform: translate3d(-34px, 18px, 11.5px);
}

.bar34 {
    transform: translate3d(-38px, 18px, 11.5px);
}

.bar35 {
    transform: translate3d(-42px, 18px, 11.5px);
}

.bar36 {
    transform: translate3d(-46px, 18px, 11.5px);
}

.bar37 {
    transform: translate3d(-50px, 18px, 11.5px);
}

.bar38 {
    transform: translate3d(-54px, 18px, 11.5px);
}

.bar39 {
    transform: translate3d(-26px, 18px, 11.5px);
}

.bar40 {
    transform: translate3d(-22px, 18px, 11.5px);
}

.bar41 {
    transform: translate3d(-18px, 18px, 11.5px);
}

.bar42 {
    transform: translate3d(-15px, 22px, 17.5px);
}

.bar43 {
    transform: translate3d(-15px, 25px, 22.5px);
}

.bar44 {
    --width: 4px;
    --length: 4px;
    transform: translate3d(-15px, 29px, 28.5px);
}

.frontStairCase {
    --length: 60px;
    transform: translate3d(-2.5px, 0, 0);
}

.backStairCase {
    --length: 40px;
}

.stairCase {
    --height: 5px;
    --width: 6px;
    --primary: #b68b64;
    --shade: rgba(0, 0, 0, 0.12);
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --frontBackground: var(--shadeBg), var(--primary);
    --leftBackground: var(--shadeBg), var(--shadeBg), var(--primary);
    --topBackground: var(--primary);
    --rightBackground: var(--shadeBg), var(--primary);
    --backBackground: var(--primary);
    --bottomBackground: var(--shadeBg), var(--shadeBg), var(--primary);
}

.stairCase1 {
    transform: translate3d(14px, 35px, 17px);
}

.stairCase2 {
    --width: 12px;
    transform: translate3d(14px, 39px, 20px);
}

.stairCase3 {
    --width: 18px;
    transform: translate3d(14px, 43px, 23px);
}

.backStairCase {
    transform: translate3d(-2.5px, 0, -80px) scaleZ(-1);
}

.chimney {
    transform: translate3d(-55px, -50px, 0);
}

.chimneyPipe {
    --primary: brown;
    --secondary: #9f2222;
    --darkColor: #7e2121;
    --bgOffset: 4px;
    --bricks: linear-gradient(335deg, var(--primary) var(--bgOffset), transparent var(--bgOffset)) -0.9px -5.4px,
    linear-gradient(335deg, var(--secondary) var(--bgOffset), transparent var(--bgOffset)) -5.5px -0.5px,
    linear-gradient(155deg, var(--primary) var(--bgOffset), transparent var(--bgOffset)) 0 0,
    linear-gradient(155deg, var(--secondary) var(--bgOffset), transparent var(--bgOffset)) 5.6px 5px;
    --width: 35px;
    --length: 25px;
    --height: 120px;
    --shade: rgba(0, 0, 0, 0.12);
    --shadeBg: linear-gradient(var(--shade), var(--shade));
    --frontBackground: var(--bricks) var(--darkColor);
    --leftBackground: var(--shadeBg), var(--bricks) var(--darkColor);
    --rightBackground: var(--shadeBg), var(--bricks) var(--darkColor);
    --backBackground: var(--bricks) var(--darkColor);
    --bottomBackground: var(--shadeBg), var(--shadeBg), var(--darkColor);
}

.chimneyPipe * {
    background-size: 10px 10px;
}

.chimneyPipeTop {
    /*padding: 8px;*/
    background: var(--darkColor);
    background-size: 10px 10px;
}

.chimneyPipeTop::before {
    content: "";
    display: block;
    position: static;
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: var(--darkColor);*/
}