*, *::before, *::after {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #a6deea;
    --unitSize: 1vmin;
}

img {
    display: block;
    width: 100%;
}

.symmetry {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transform {
    --x: 0;
    --y: 0;
    --r: 0;
    --s: 0;
    --_scale: 1;
    transform: scaleX(var(--_scale)) translateX(var(--x)) translateY(var(--y)) rotate(var(--r)) skew(var(--s));
}

.flipVertical {
    --x: 0;
    --y: 0;
    --r: 0;
    --s: 0;
    --_scale: -1;
    transform: scaleX(var(--_scale)) translateX(var(--x)) translateY(var(--y)) rotate(var(--r)) skew(var(--s));
}

.tracedImage {
    position: absolute;
    height: calc(var(--unitSize) * 73.2);
    width: unset;
    z-index: -1;
    opacity: 0.5;
    --r: 18deg;
    --y: calc(var(--unitSize) * 3);
    --x: calc(var(--unitSize) * 2);
    display: none;
}

.canvas {
    width: calc(var(--unitSize) * 80);
    height: calc(var(--unitSize) * 80);
    position: relative;
    /*border: calc(var(--unitSize) * 0.1) solid;*/
    /*opacity: 0.4;*/
}

.canvas *, .canvas *::before, .canvas *::after {
    position: absolute;
}

.red {
    --accent1: #D4002C;
    --accent2: #E1C4A7;
    --accent3: #FBB91E;
    --accent4: #F59D1E;
    --accent5: #bd0027;
    --black: #2a2a2a;
    /*position: relative;*/
    flex-direction: column;
}

.head {
    width: 400px;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background: var(--accent1);
    overflow: hidden;
    /*border: 5px solid black;*/
}

.head::before {
    content: "";
    display: block;
    width: 400px;
    aspect-ratio: 2/1;
    border-radius: 50%;
    background: var(--accent2);
    top: 260px;
}

.face {
    --x: 60px;
}

.eye {
    width: 110px;
    /*aspect-ratio: 1/1;*/
    height: 140px;
    border-radius: 500px;
    background-clip: content-box;
    border: 4px solid #0003;
    border-bottom: 7px solid #0003;
    background: white;
    --x: -53px;
    --y: -8px;
}

.eyebrow {
    height: 130px;
    border-bottom: 150px solid black;
    width: 50px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    --r: 109deg;
    --y: -70px;
    --x: -66px;
}

.eye::before {
    content: "";
    display: block;
    position: absolute;
    /*aspect-ratio: 1/1;*/
    width: 30px;
    height: 50px;
    border-radius: 500px;
    background: var(--black);
    top: 45px;
    left: 55px;
}

.beak {
    --r: 10deg;
    --x: -50px;
    --y: 15px;
}

.beakP1 {
    width: 150px;
    height: 60px;
    border-radius: 80% 120% 0 0 / 200% 200% 0 0;
    background: var(--accent3);
}

.beakP2 {
    width: 120px;
    height: 60px;
    border-radius: 0 0 80% 120% / 0 0 200% 200%;
    background: var(--accent4);
    --y: 48px;
}

.hair {
    border-radius: 50% / 30% 30% 70% 70%;
    background: var(--accent1);
    width: 60px;
    height: 170px;
    --r: -50deg;
    --y: -240px;
    --x: 20px;
}

.hairP2 {
    background: var(--accent5);
    --x: -10px;
    --r: -79deg;
    --y: -214px;
    width: 60px;
    height: 200px;
}

.tail {
    height: 0px;
    border-bottom: 50px solid black;
    width: 23px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    --r: 114deg;
    --y: 30px;
    --x: -220px;
}

.tail2 {
    --r: 86deg;
    --y: 51px;
    --x: -223px;
}

.tail3 {
    --r: 52deg;
    --y: 70px;
    --x: -216px;
}

.eye::after {
    background: white;
    border-radius: 9999px;
    height: 30px;
    width: 15px;
    content: "";
    display: block;
    top: 54px;
    left: 53px;
}

.eye.flipVertical::after {
    left: 75px;
}