*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #060523;*/
    overflow: hidden;
    --background: #4dd77d;
    background: var(--background);
}

.symmetry {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.canvas {
    position: relative;
    width: 800px;
    height: 800px;
    --gold: gold;
    --darkGold: #dab900;
    --border: #0005;
    --disc: #282828;
    --discDark: #101010;
    --duration: 0.4s
}

.canvas * {
    position: absolute;
}

.transform {
    --x: 0;
    --y: 0;
    --r: 0;
    --s: 0;
    --sy: 0;
    --sx: 0;
    --_scale: 1;
    transform: scaleX(var(--_scale)) translateX(var(--x)) translateY(var(--y)) rotate(var(--r)) skew(var(--s)) skewX(var(--sx)) skewY(var(--sy));
}

.flipVertical {
    --x: 0;
    --y: 0;
    --r: 0;
    --s: 0;
    --sy: 0;
    --sx: 0;
    --_scale: -1;
    transform: scaleX(var(--_scale)) translateX(var(--x)) translateY(var(--y)) rotate(var(--r)) skew(var(--s)) skewX(var(--sx)) skewY(var(--sy));
}

.flipDiagonal {
    --x: 0;
    --y: 0;
    --r: 0;
    --s: 0;
    --sy: 0;
    --sx: 0;
    --_scale: -1, -1;
    transform: scale(var(--_scale)) translateX(var(--x)) translateY(var(--y)) rotate(var(--r)) skew(var(--s)) skewX(var(--sx)) skewY(var(--sy));
}

.pseudo::before, .pseudo::after {
    content: "";
    display: block;
}

.table {
    width: 1700px;
    height: 500px;
    background: var(--background);
    /*background: gray;*/
    --r: 10deg;
    --y: 350px;
}

.table::before {
    width: 100%;
    height: 5px;
    border-radius: 9999px;
    background: green;
}

.blob {
    width: 550px;
    height: 500px;
    --x: 50px;
    --y: 100px;
    background: var(--gold);
    border-radius: 50% / 70% 70% 30% 30%;
}


.eye {
    background: black;
    width: 45px;
    aspect-ratio: 3/4;
    border-radius: 50%;
    --r: 5deg;
}

.eye1 {
    --x: -30px;
    --y: -140px;
}

.eye2 {
    --x: 60px;
    --y: -120px;
}


.mouth {
    /*outline: 2px solid;*/
    --y: -55px;
    --x: 5px;
}

.mouthP {
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background: black;
}

.mouthP2 {
    width: 26px;
    --r: -30deg;
    --y: -10px;
    --x: -9px;
}

.mouthP1 {
    --r: 63deg;
    --y: -18px;
    --x: -25px;
}

.mouthP3 {
    width: 26px;
    --r: 54deg;
    --y: -7px;
    --x: 7px;
}


.mouthP4 {
    --r: 140deg;
    --y: -8px;
    --x: 24px;
}

.hand {
    width: 170px;
    height: 125px;
    background: var(--gold);
    border-radius: 55% 45% 0 0 / 100% 100% 0 0;
    border: 5px solid var(--border);
    border-bottom: none;
    transform-origin: 100% 100%;
}

.hand1 {
    --r: -144deg;
    --x: -138px;
    --y: 91px;
}

.hand2 {
    --r: 46deg;
    --x: 305px;
    --y: 18px;
}


.hand1 .hand {
    animation: handSpinDisc var(--duration) infinite ease-in-out;
}

.hand2 .hand {
    transform-origin: 100% 100%;
    animation: handWave var(--duration) infinite ease-in-out;
}

@keyframes handWave {
    50% {
        transform: translate(40px, 50px) scaleY(0.7) rotate(10deg);
    }
}


@keyframes handSpinDisc {
    50% {
        transform: scaleY(1.15) skewX(-15deg);
    }
}

.discInner {
    width:250px;
    aspect-ratio: 1/1;
    border: 5px solid var(--gold);
    background: radial-gradient(circle, transparent 10%, var(--discDark) 10%, var(--discDark) 15%, var(--disc) 15%);
    border-radius: 50%;
    transform: rotate(70deg);
    animation: spinDisc var(--duration) infinite ease-in-out;
}

.discTriangle {
    background: white;
    width: 21%;
    aspect-ratio: 2/1;
    clip-path: polygon(100% 5%, 100% 100%, 5% 100%);
    --y: -325%;
    --x: -50%;
}

.discTriangle2 {
    width: 15%;
    --y: -250%;
}

.disc {
    --sy: -20deg;
    --r: 50deg;
}

.discWithShadow {
    filter: drop-shadow(0 5px var(--darkGold));
    --y: 210px;
    --x: -220px;
}

.disc2 {
    --y: 275px;
    --x: 110px;
}

.disc2 .discInner {
    animation: spinDisc2 calc(var(--duration) * 3) infinite linear;
}

@keyframes spinDisc {
    50% {
        transform: rotate(40deg);
    }
}

@keyframes spinDisc2 {
    0% {
        transform: rotate(0);

    }

    100% {
        transform: rotate(360deg);
    }
}

.djPlayer {
    --y: 250px;
    --x: -50px;
    filter: drop-shadow(0 5px var(--gold)) drop-shadow(0 10px var(--gold));
}

.djPlayerInner {
    width: 800px;
    height: 282px;
    background: var(--disc);
    --sx: -38deg;
    --r: 10deg;
    border: 10px solid;
}

.headphones {
    --y: -123px;
    --x: 102px;
}

.headphonesP1 {
    width: 282px;
    height: 71px;
    border-radius: 50% / 100% 100% 0 0;
    border: 15px solid var(--disc);
    border-bottom: none;
    --r: 14deg;
    --y: 5px;
    --x: -5px;
}


.headphonesP2 {
    width: 61px;
    height: 100px;
    --r: -26deg;
    --x: 135px;
    --y: 67px;
}
.headphonesP2::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--discDark);
    z-index: -1;
    border-radius: 50%;
    left: -12px;
}

.headphonesP2::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: var(--disc);
    border: 8px solid #ff4f4f;
}


.headphonesP3 {
    width: 61px;
    height: 100px;
    --r: -130deg;
    --x: -176px;
    --y: 14px;
}

.headphonesP3::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--discDark);
    z-index: -1;
    border-radius: 50%;
    left: -12px;
}

.headphonesP3::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: var(--disc);
    border: 8px solid #ff4f4f;
}
